body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
    margin: 0 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}


.navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.navigation a.active {
    text-decoration: underline;
    color: #f05454;
}

.user {
    display: flex;
    align-items: center;
}

.search-btn,
.edit-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #888;
}

.btn {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: #ff4c4c;
}

.sidebar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;

}

.sidebar-btn {
    width: 200px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

.transparent-btn {
    background-color: transparent;
    color: #f05454;
    border: 1px solid #f05454;
}

.appointment-box {
    background-color: #2a2a2e;
    padding: 20px;
    border-radius: 5px;
    width: 730px;
}

.appointment-box h3 {
    margin-bottom: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ff5e57;
    display: flex;
    align-items: center;
}

.form-group .icon {
    margin-right: 10px;
}

.form-group input {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #ff5e57;
    border-radius: 5px;
    color: #fff;
}

.form-group input:focus {
    outline: none;
    border-color: #ff857a;
}

.container-fluid {
    margin-bottom: 80px;
}

.calender-date {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.calendar-container {
    width: 400px;
    background-color: #1f1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.calendar {
    background-color: #000000;
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;
}

.calendar thead {
    background-color: #2a2a2e;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header h2 {
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
}

.calendar th,
.calendar td {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ddd;
    border: 1px solid #444;
    cursor: pointer;
}

.calendar td.inactive {
    color: #555;
    pointer-events: none;
}

.calendar td.selected {
    background-color: #ff6b6b;
    color: #fff;
}

.time-picker {
    list-style-type: none;
    padding: 0;
    margin: 70px 0 0 20px;
}

.time-picker li {
    color: #555;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.time-picker li.active {
    color: #ff6b6b;
}

.time-picker li:hover {
    color: #624de3;
    /* color: #fff; */
}

.confirm-btn {
    width: 200px;
    background-color: #f05454;
    color: #fff;
    border: none;
    margin-left: 90px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

#editAppointmentSection {
    color: white;
    width: 730px;
    background-color: #2a2a2e;
    padding: 20px;
    border-radius: 5px;
}

#editAppointmentSection table {
    width: 100%;
    border-collapse: collapse;
}

#editAppointmentSection th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#editAppointmentSection th {
    background-color: #444;
}